<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand " href="/" style="margin-left: 30px;"> <img src="../../../assets/METEO.png" width="60" height="60" alt=""> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active " >
        <a class="nav-link " style="color: #1C2331;"href="#">WEATHER APP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #1C2331;"href="#">Contact Us</a>
      </li>
    
     
    </ul>
   
  </div>
  <form class="form-inline my-2 my-lg-0 " style="margin-right: 30px;">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
  </form>
</nav>
<section class="vh-100" style="background: url(https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/sky/wispy-clouds-in-a-blue-sky.jpg);background-size: cover;">
  <div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="d-flex">
        <div class="d-inline-block">
          <h2 class="text-white">Search for weather where ever you want !</h2>

          <div class="form">
            <i class="fa fa-search"></i>
            <form (ngSubmit)="onSubmit()">
              <input type="text" class="form-control form-input" placeholder="Search anything..." [(ngModel)]="cityName" name="the city name">
              <span class="left-pan"><button class="btn btn-primary shadow-none" ><i class=" bi bi-search"></i></button></span>
            </form>
          </div>
        </div>
        <div class="container d-inline-block ">
          <div class="row d-flex justify-content-center align-items-center h-100 justify-content-end" >
            <div class="col-md-6 col-lg-6 col-xl-6 ">
      
              <div class="card shadow" style="color: #4B515D; border-radius: 35px;">
                <div class="card-body p-4">
      
                  <div class="d-flex">
                    <h6 class="flex-grow-1">{{city}}</h6>
                    <h6>{{time}}</h6>
                  </div>
      
                  <div class="d-flex flex-column text-center mt-5 mb-4">
                    <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{temp}}°C </h6>
                    <span class="small" style="color: #868B94">{{state}}</span>
                  </div>
      
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1" style="font-size: 1rem;">
                      <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> wind speed : {{wind}} Km/h
                        </span></div>
                      <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> Humidity :  {{hum}}%</span>
                      </div>
                      <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> Pression : {{press}} hPa </span>
                      </div>
                    </div>
                    <div>
                      <img src="{{icone}}"
                        width="100px">
                    </div>
                  </div>
                  <button type="button" class="btn " (click)="AjoutFavorie()"> <span class="bi bi-heart" id="heart-icon"></span></button>

    
                </div>
              </div>
      
            </div>
          </div>
      
        </div>
        
      </div>
      
      
    </div>
    
  </div>
</section>
<section class="vh-100 " style="display: flex; justify-content: center; align-items: center ;background: url(https://t3.ftcdn.net/jpg/05/12/51/42/360_F_512514218_0I0x8sSpvCdX2PKfLSIWSHV3g3WcojFk.jpg);background-size: cover;">
  <div class="container align-items-center">
  <div class="  row align-items-center">
    <div class="col-md-4 col-lg-4 col-xl-4  ">
      
      <div class="card shadow "data-aos="fade-right" style="color: #4B515D; border-radius: 35px;">
        <div class="card-body p-4">

          <div class="d-flex">
            <h6 class="flex-grow-1">{{city1}}</h6>
            <h6>{{time1}}</h6>
          </div>

          <div class="d-flex flex-column text-center mt-5 mb-4">
            <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{temp1}}°C </h6>
            <span class="small" style="color: #868B94">{{state1}}</span>
          </div>

          <div class="d-flex align-items-center">
            <div class="flex-grow-1" style="font-size: 1rem;">
              <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> wind speed : {{wind1}} Km/h
                </span></div>
              <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> Humidity :  {{hum1}}%</span>
              </div>
              <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> Pression : {{press1}} hPa </span>
              </div>
            </div>
            <div>
              <img src="{{icone1}}"
                width="100px">
            </div>
          </div>


        </div>
      </div>
    </div> 
    <div class="col-md-4 col-lg-4 col-xl-4 my-auto">
      
      <div class="card shadow" style="color: #4B515D; border-radius: 35px;">
        <div class="card-body p-4">

          <div class="d-flex">
            <h6 class="flex-grow-1">{{city2}}</h6>
            <h6>{{time2}}</h6>
          </div>

          <div class="d-flex flex-column text-center mt-5 mb-4">
            <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{temp2}}°C </h6>
            <span class="small" style="color: #868B94">{{state2}}</span>
          </div>

          <div class="d-flex align-items-center">
            <div class="flex-grow-1" style="font-size: 1rem;">
              <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> wind speed : {{wind2}} Km/h
                </span></div>
              <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> Humidity :  {{hum2}}%</span>
              </div>
              <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> Pression : {{press2}} hPa </span>
              </div>
            </div>
            <div>
              <img src="{{icone2}}"
                width="100px">
            </div>
          </div>


        </div>
      </div>
    </div> 
    <div class="col-md-4 col-lg-4 col-xl-4 my-auto">
      
      <div class="card shadow" style="color: #4B515D; border-radius: 35px;">
        <div class="card-body p-4">

          <div class="d-flex">
            <h6 class="flex-grow-1">{{city3}}</h6>
            <h6>{{time3}}</h6>
          </div>

          <div class="d-flex flex-column text-center mt-5 mb-4">
            <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{temp3}}°C </h6>
            <span class="small" style="color: #868B94">{{state3}}</span>
          </div>

          <div class="d-flex align-items-center">
            <div class="flex-grow-1" style="font-size: 1rem;">
              <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> wind speed : {{wind3}} Km/h
                </span></div>
              <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> Humidity :  {{hum3}}%</span>
              </div>
              <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> Pression : {{press3}} hPa </span>
              </div>
            </div>
            <div>
              <img src="{{icone3}}"
                width="100px">
            </div>
          </div>


        </div>
      </div>
    </div> 
  </div>
</div>
  </section>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-light text-dark-50">
  <div class="container text-center">
    <small>Copyright &copy; WEATHER APP</small>
  </div>
</footer>