.navbar-brand {
    margin-left: 20px;
  }

  .height{

    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 10px;
   
   

}




.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
#heart-icon {
    color: #3a3a3a;
  }
  
  #heart-icon:hover {
    color: red;
    
  }
  
  #heart-icon.clicked {
    color: red;
  }